
/* NAV BAR STYLING SECTION */
/* NAV BAR STYLING SECTION */
/* NAV BAR STYLING SECTION */
.navbar {
  padding-left: 20px;
  padding-top: 20px;
}

.navbar-toggler {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px ;
  background-color: #ffffff57; 
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.281); 
}

.navbar-toggler:hover {
  background-color: #502d1b; 
}

.navbar-brand {
  color: #fff;
}

.offcanvas-header {
  background-color: #502d1b; 
}

.offcanvas-title {
  color: #fff; 
}

.offcanvas-header .btn-close {
  color: #ffffff; 
}

/* Still nav bar but this is the animation for the links */
.custom-nav-link {
  position: relative;
  color: #000000;
  text-align: left;
  padding: 10px 20px;
}

.custom-nav-link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 8px;
  background-color: #502d1b;
  transition: width 0.5s ease, background-color 1.5s ease;
}

.custom-nav-link:hover {
  background-color: #ffffff;
  color: transparent;
}

.custom-nav-link:hover::before {
  width: 100%;
  background-color: #180d04;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.custom-nav-link[data-content]:hover::after {
  content: attr(data-content); /* This pulls the data content of the data-content attribute we put in script */
  position: absolute;
  color: rgb(255, 255, 255);
  text-align: right;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}



/* Styling for the style sheet :)))
⠀⠀⠀⢸⣦⡀⠀⠀⠀⠀⢀⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⢸⣏⠻⣶⣤⡶⢾⡿⠁⠀⢠⣄⡀⢀⣴⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⣀⣼⠷⠀⠀⠁⢀⣿⠃⠀⠀⢀⣿⣿⣿⣇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠴⣾⣯⣅⣀⠀⠀⠀⠈⢻⣦⡀⠒⠻⠿⣿⡿⠿⠓⠂⠀⠀⢀⡇⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠉⢻⡇⣤⣾⣿⣷⣿⣿⣤⠀⠀⣿⠁⠀⠀⠀⢀⣴⣿⣿⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠸⣿⡿⠏⠀⢀⠀⠀⠿⣶⣤⣤⣤⣄⣀⣴⣿⡿⢻⣿⡆⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠟⠁⠀⢀⣼⠀⠀⠀⠹⣿⣟⠿⠿⠿⡿⠋⠀⠘⣿⣇⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⢳⣶⣶⣿⣿⣇⣀⠀⠀⠙⣿⣆⠀⠀⠀⠀⠀⠀⠛⠿⣿⣦⣤⣀⠀⠀
⠀⠀⠀⠀⠀⠀⣹⣿⣿⣿⣿⠿⠋⠁⠀⣹⣿⠳⠀⠀⠀⠀⠀⠀⢀⣠⣽⣿⡿⠟⠃
⠀⠀⠀⠀⠀⢰⠿⠛⠻⢿⡇⠀⠀⠀⣰⣿⠏⠀⠀⢀⠀⠀⠀⣾⣿⠟⠋⠁⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠋⠀⠀⣰⣿⣿⣾⣿⠿⢿⣷⣀⢀⣿⡇⠁⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠋⠉⠁⠀⠀⠀⠀⠙⢿⣿⣿⠇⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠙⢿⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠀⠀⠀⠀⠀
If you see this I hope you're having a great day!!⠀⠀
*/ 


/* ROOM CARD STYLING SECTION */
/* ROOM CARD STYLING SECTION */
/* ROOM CARD STYLING SECTION */
.roomPlanContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
  padding: 40px;
}

.roomCard {
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.2s;
}

.roomCard:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.roomCardHeader {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  background-color: #7a3918;
  color: #ffffff;
  padding: 8px;
}

.roomCardBody {
  padding: 12px;
  text-align: center;
}
/* TEST TEST TEST TEST */
/* for the home screen */
.image {
  width: 90%; 
  height: auto;
  margin: auto;
}

.Hello {
  width: 80%; 
  margin: auto;
}

/* minor effect for the image hover */
.eventImage {
  max-width: 95%;
  height: auto;
  object-fit: cover ;
  border-radius: 20px;
  border: 6px solid #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
